<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar">
            <img src="/images/logo.png" alt="Logo" class="logo">
            <span class="navbar-logo-text">Superhéroes</span>
        </a>
        <ul class="navbar-menu">
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
</nav>