<div class="container">
    <h1 class="titulo">Centro de Comando de Superhéroes</h1>
    
    <p class="description">
        Bienvenido al sistema de "gestión de héroes". Desde aquí puedes monitorear a los defensores de los planetas, revisar sus estadísticas, o reclutar nuevos integrantes para mantener la paz mundial. ¿Qué acción deseas realizar hoy?
    </p>
    
    <div class="botones">
        <a href="/dashboard" class="btn-rectangular">Listado de Superhéroes</a>
        <a href="/dashboard/agregar" class="btn-rectangular">Agregar Superhéroe</a>
    </div>
</div>